body {
	height: 100vh;
    background-image: url('img/login-form-background.webp');
    background-size: cover;
    display: flex;
	/*justify-content: center;*/
    /*align-items: center;*/
}

.register_text {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.login-form {
	width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background: var(--dark-background);
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    font-family: "Montserrat", sans-serif;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
}

.login-form__title-text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.input.login-form__input {
    /*border: 0;*/
    /*background: none;*/
    margin: 20px auto;
    text-align: center;
    border: 3px solid #273c75;
    padding: 14px 10px;
    width: 200px;
    /*outline: none;*/
    color: white;
    border-radius: 24px;
    font-size: 18px;
    transition: 0.25s;
}


.input.login-form__input:focus {
    width: 280px;
    border-color: var(--nice-green);
}

.button.login-form__button {
    /*border: 0;*/
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--nice-green);
    padding: 14px 10px;
    width: 226px;
    /*outline: none;*/
    color: white;
    border-radius: 24px;
    font-size: 18px;
}

.button.login-form__button:hover {
    background: var(--nice-green);
    transition: 0.3s; 
}

:root {
    --background-gradient: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    --dark-background: #0a0e31;
    --field-color: rgba(255, 255, 255, 0.08);
    --nice-green: #10ac84;
}

a {
    color: white;
    /*text-decoration: none;*/
}